MQTT server/flows.json
[{"id":"b3efe13e.4b1d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4afdac79.3667c4","type":"mqtt in","z":"b3efe13e.4b1d4","name":"Temperature","topic":"room/temperature","qos":"2","datatype":"auto","broker":"403c7b11.a197f4","x":590,"y":380,"wires":[["5f9991f2.29a77","8e692b1c.c2f548"]]},{"id":"4b090ccd.f68b94","type":"mqtt in","z":"b3efe13e.4b1d4","name":"Humidity","topic":"room/humidity","qos":"2","datatype":"auto","broker":"403c7b11.a197f4","x":600,"y":540,"wires":[["90f88654.e46d48","6f6cdb57.82a164"]]},{"id":"a860a3b9.6f964","type":"mqtt out","z":"b3efe13e.4b1d4","name":"Light","topic":"room/light","qos":"","retain":"","broker":"403c7b11.a197f4","x":830,"y":680,"wires":[]},{"id":"8d678d7b.47963","type":"ui_switch","z":"b3efe13e.4b1d4","name":"","label":"SWITCH","tooltip":"","group":"1fb16a44.e0ab56","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":600,"y":680,"wires":[["a860a3b9.6f964"]]},{"id":"90f88654.e46d48","type":"ui_gauge","z":"b3efe13e.4b1d4","name":"","group":"c977951b.fa4c38","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":600,"wires":[]},{"id":"5f9991f2.29a77","type":"ui_chart","z":"b3efe13e.4b1d4","name":"","group":"718e58e8.4a1a48","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":850,"y":380,"wires":[[]]},{"id":"8e692b1c.c2f548","type":"ui_gauge","z":"b3efe13e.4b1d4","name":"","group":"718e58e8.4a1a48","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":850,"y":440,"wires":[]},{"id":"6f6cdb57.82a164","type":"ui_chart","z":"b3efe13e.4b1d4","name":"","group":"c977951b.fa4c38","order":2,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":840,"y":540,"wires":[[]]},{"id":"bb39ae06.8b737","type":"exec","z":"b3efe13e.4b1d4","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temp","x":590,"y":140,"wires":[["42c53886.36b1c8"],[],[]]},{"id":"bb402d14.b8914","type":"inject","z":"b3efe13e.4b1d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":393,"y":202,"wires":[["cbc55348.975dd","bb39ae06.8b737","63de6241.b8b24c"]]},{"id":"42c53886.36b1c8","type":"function","z":"b3efe13e.4b1d4","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(5, 9);\nreturn msg;","outputs":1,"noerr":0,"x":728,"y":127,"wires":[["2d31cdaa.3c1802"]]},{"id":"2d31cdaa.3c1802","type":"ui_gauge","z":"b3efe13e.4b1d4","name":"T CPU","group":"7a10fdc3.4d29b4","order":1,"width":"6","height":"5","gtype":"gage","title":"CPU Temp.","label":"°C","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#b6e203","#ca3838"],"seg1":"","seg2":"","x":871,"y":127,"wires":[]},{"id":"cbc55348.975dd","type":"exec","z":"b3efe13e.4b1d4","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2+$4}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"LOAD","x":588,"y":201.5,"wires":[["889558dd.3ad588"],[],[]]},{"id":"889558dd.3ad588","type":"ui_gauge","z":"b3efe13e.4b1d4","name":"CPU LOAD","group":"7a10fdc3.4d29b4","order":2,"width":"6","height":"6","gtype":"donut","title":"CPU LOAD","label":"%","format":"{{value}}","min":0,"max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":854,"y":187,"wires":[]},{"id":"63de6241.b8b24c","type":"exec","z":"b3efe13e.4b1d4","command":"free | grep Mem | awk '{print 100*$3/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"MEM","x":591,"y":270,"wires":[["af497039.a12a6"],[],[]]},{"id":"f7cd562f.17d2f8","type":"ui_gauge","z":"b3efe13e.4b1d4","name":"","group":"7a10fdc3.4d29b4","order":3,"width":0,"height":0,"gtype":"donut","title":"Memory Load","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"80","x":960,"y":260,"wires":[]},{"id":"af497039.a12a6","type":"function","z":"b3efe13e.4b1d4","name":"SubString","func":"str = msg.payload \nmsg.payload  = str.substring(0, 4);\nif(msg.payload == \"100.\")\n    msg.payload = \"100\";\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":260,"wires":[["f7cd562f.17d2f8"]]},{"id":"a0c490e0.811bd","type":"mysql","z":"b3efe13e.4b1d4","mydb":"1a4e7ef5.88d281","name":"Room","x":1130,"y":420,"wires":[[]]},{"id":"51c7e6d7.b218d8","type":"function","z":"b3efe13e.4b1d4","name":"Query","func":"msg.topic = \"INSERT INTO Temperature(Time, Temp) VALUES( CURRENT_TIME,\" + msg.payload + \")\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":320,"wires":[["a0c490e0.811bd"]]},{"id":"cfc99e41.51dd","type":"function","z":"b3efe13e.4b1d4","name":"Query","func":"msg.topic = \"INSERT INTO Humidity(Time, Humi) VALUES( CURRENT_TIME,\" + msg.payload + \")\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["a0c490e0.811bd"]]},{"id":"403c7b11.a197f4","type":"mqtt-broker","z":"","name":"","broker":"192.168.50.207","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1fb16a44.e0ab56","type":"ui_group","z":"","name":"Light","tab":"5137d9e0.ea8218","order":1,"disp":true,"width":"6","collapse":false},{"id":"c977951b.fa4c38","type":"ui_group","z":"","name":"Humidity","tab":"5137d9e0.ea8218","disp":true,"width":"6","collapse":false},{"id":"718e58e8.4a1a48","type":"ui_group","z":"","name":"Temperature","tab":"5137d9e0.ea8218","order":2,"disp":true,"width":"6","collapse":false},{"id":"7a10fdc3.4d29b4","type":"ui_group","z":"","name":"Status","tab":"84ebc5f5.c941b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1a4e7ef5.88d281","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"Room","tz":""},{"id":"5137d9e0.ea8218","type":"ui_tab","z":"","name":"Room","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"84ebc5f5.c941b8","type":"ui_tab","z":"","name":"Server","icon":"dashboard","order":3,"disabled":false,"hidden":false}]